/* *********************** */
/* Store */
/* *********************** */
.store {
  height: 100%;
}
.container-store {
  padding: 70px 20px;
  background-color: #f0f0f0;
}

.featured {
  font-size: 34px;
  font-weight: 300;
  color: #000;
  position: relative;
}

.featured::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #e95754;
  top: 40px;
  left: 0;
  transform: translate(0, -50%);
}

/* FEATURED ITEMS */
