.grid-four-cols {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 16px rgb(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-in-out;
}

.img-products {
  width: 100%;
  height: 60%;
}

.product-details {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 40%;
}

.product-name {
  font-size: 1.3rem;
  font-weight: 300;
  width: 100%;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons-wishlist {
  font-size: 20px;
}

.icons-wishlist:hover {
  fill: red;
}

.product-price {
  font-size: 1.2rem;
  font-weight: 700;
}
