.main-menu {
  height: 100%;
}

.items a {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding-right: 1.25rem;
}

.items a:last-child {
  padding-right: 0;
}

.items a:link,
.items a:visited {
  color: #484848;
  font-size: 1.2rem;
}

.items a:hover,
.items a:active {
  color: #cc0000;
  transition: color 0.5s ease-in-out;
}

.inputSearch {
  position: relative;
  width: 30%;
  height: auto;
}

.input {
  width: 100%;
  background-color: #f0f0f0;
  padding: 0.625rem 1.25rem;
  color: #484848;
  font-size: 0.875em;
  letter-spacing: 0.125rem;
  border-radius: 1.25rem;
  border: none;
}

.iconsSeacrh {
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  z-index: 2;
}

.user-features {
  font-size: 1.125rem;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 70%;
}

.main-features {
  height: 100%;
  max-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.main-logo {
  flex: 1;
}

.img-logo {
  padding: 0.625rem;
  width: 100%;
}

.main-icons {
  font-size: 1.75rem;
  color: #484848;
}

.grid {
  display: grid;
}

.two-cols {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.625rem;
}

.three-cols {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}
